{% extends "base.html" %}
{% load custom_tags %}
{% block title %}Edit Record in {{ table_name }}{% endblock %}

{% block content %}
<h1>Edit Record in {{ table_name }}</h1>
<form method="post">
    {% csrf_token %}
    {% for field in fields %}
        <label for="{{ field.name }}">{{ field.name|capfirst }}:</label>
        {% if field.type == "CharField" or field.type == "TextField" %}
            <input type="text" name="{{ field.name }}" id="{{ field.name }}" 
                   value="{{ obj|attr:field.name }}">
        {% elif field.type == "IntegerField" or field.type == "FloatField" %}
            <input type="number" name="{{ field.name }}" id="{{ field.name }}" 
                   value="{{ obj|attr:field.name }}">
        {% elif field.type == "DateTimeField" %}
            <input type="datetime-local" name="{{ field.name }}" id="{{ field.name }}" 
                   value="{{ obj|attr:field.name|date:'Y-m-d\TH:i' }}">
        {% elif field.type == "DateField" %}
            <input type="date" name="{{ field.name }}" id="{{ field.name }}" 
                   value="{{ obj|attr:field.name|date:'Y-m-d' }}">
        {% elif field.type == "BooleanField" %}
            <input type="hidden" name="{{ field.name }}" value="false">
            <input type="checkbox" name="{{ field.name }}" id="{{ field.name }}" value="true"
                {% if obj|attr:field.name %}checked{% endif %}>
        {% elif field.choices %}
            <select name="{{ field.name }}" id="{{ field.name }}">
                <option value="" disabled>-- Select --</option>
                {% for choice in field.choices %}
                    <option value="{{ choice.pk }}" 
                            {% if obj|attr:field.name.id == choice.pk %}selected{% endif %}>
                        {{ choice }}
                    </option>
                {% endfor %}
            </select>
        {% else %}
            <input type="text" name="{{ field.name }}" id="{{ field.name }}" 
                   value="{{ obj|attr:field.name }}">
        {% endif %}
        <br>
    {% endfor %}
    <button type="submit">Save Changes</button>
</form>
<a href="{% url 'view_table' table_name=table_name %}">Cancel</a>
{% endblock %}
