{% extends "base.html" %}
{% block title %}View Accesses{% endblock %}

{% block content %}
<h1>All Access Records</h1>

<form method="get" action="">
    <label for="date">Filter by Date:</label>
    <input type="date" id="date" name="date" value="{{ date_filter }}">
    <button type="submit">Filter</button>
</form>

<table border="1">
    <thead>
        <tr>
            <th>User</th>
            <th>Gate</th>
            <th>Date</th>
            <th>Access</th>
        </tr>
    </thead>
    <tbody>
        {% for record in access_records %}
            <tr>
                <td>{{ record.employee_id.name }} {{ record.employee_id.surname }}</td>
                <td>{{ record.gate_id.name }}</td>
                <td>{{ record.data|date:"Y-m-d H:i" }}</td>
                <td>{{ record.access }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No records found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <a href="{% url 'home' %}">Back to Home</a>
{% endblock %}
